* {
    margin: 0;
    padding: 0;
}
a {
    color: #000000;
    text-decoration: none;
}
body {
    background-color: #f3f5f7;
}
li {
    list-style: none;
}
.tp {
    width: 100%;
}
.w {
    width: 70%;
    margin: auto;
}
.header {
    height: 50px;
    line-height: 50px;
    background-color: skyblue;
    border: 1px solid #000000;
    border-radius: 15px;
}
.logotop {
    margin: auto;
}
.logotop h3 {
    text-align: center;
}
.logo {
    height: 5%;
    width: 5%;
}
.header .nav ul li {
    float: left;
    font-size: 25px;
    margin-left: 30px;
}
.header .nav ul li a:hover {
    color: #00a4ff;
    border-bottom: 2px solid #00a4ff;
}
.box {
    margin-top: 15px;
}
.box h3 {
    margin: 35px 15px 10px;
}
.box ul li {
    float: left;
    width: 20%;
    height: 7%;
    margin: 0 15px 15px 0;
}
.box ul li a img {
    width: 100%;
}